html { height: 100%; }

body {
  /*background-color: #f4f4f4;*/
  background-color: #fefefe;
  color: #4F5050;
  font: 15px 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*font: 12pt 'Avenir';
  font-weight: 50;*/
  /*font: 12pt 'Open Sans', sans-serif;*/
  font-weight: 200;
  text-align: justify;
  margin-top: 8% auto 0em;
  line-height: 1.5em;
  height: 100%;
}

h1 { margin-bottom: 1em; color:#111;}
p { margin: 1em 0;}

a {
  transition: color .1s linear;
  color: #185074;
  /*font-weight: bold;*/
  font-weight:500;
  text-decoration: none;
  /*border-bottom: 1px solid #ddd;*/
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #e4e4e4;
}

.content_box {
  /*box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  background-color: #fefefe;
  border: 1px solid #d0d0d0;*/
  border-radius: 4px;
  padding: 10px;
}

.authors {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.pubtitle {
  font-weight: 600;
}

.venue {
  font-weight: 600;
}

#spacer {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-top:10px;
  margin-bottom: 10px;
}

#wrap {
  min-height: 80%;
}


header {
  position: relative;
  padding-top: 9%;
  text-align: center;
}

header a {
  border: none;
}

header h1 {
  display: inline-block;
  margin-bottom: 1em;
  /*font-family: 'Open Sans', sans-serif;*/
  font-weight: 200;
}

/*header img {
  padding-top: 230px;
  background: url(/afs/cs/user/blengeri/www/img/headshot.jpg) no-repeat center 0;
  background-size: 140px 205px;
}*/

header h1 a {
  color: #272522;
}

h2 {
  margin-top:10px;
  color:#111;
  font-weight:300;
  font-size:24px;
}

h3 {
  color:#111;
  font-weight:300;
  font-size:20px;
}

article {
  overflow: auto;
  padding-bottom: 80px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

footer {
  position: relative;
  font-size: 80%;
  margin-top: 0px;
  height: 90px;
  clear: both;
  margin-left: -25px;
  text-align: center;
}

footer li {
  display: inline-block;
  list-style: none;
  padding: 0 0.5em;
}

footer li a {
  border: none;
  display: inline-block;
  width: 28px;
  height: 28px;
  overflow: hidden;
  line-height: 200px;
  background-size: 100%;
  opacity: 0.12;
}

footer li a:hover {
  opacity: 0.4;
  transition: opacity .1s ease-in-out;
}

.twitter {
  background-image: url(./img/twitter.svg);
}

.facebook {
  background-image: url(./img/fb.svg);
}

.linkedin {
  background-image: url(./img/in.svg);
}

.email {
  background-image: url(./img/email.svg);
}

.quora {
  background-image: url(./img/quora-128.png);
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
/*
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}*/

/* terminal */
/*.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}*/

/* Buttons */
a.btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-width: 3px;
}

  a.btn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
  }

  a.btn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
  }

/* blue button */

a.btn.btn-blue {
  background-color: #699DB6;
  border-color: rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  color: #FFF;
}

  a.btn.btn-blue:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,0.5);
  }

  a.btn.btn-blue:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,0.9);
  }

a:hover {color: #09f;}
